<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036316234831-qab4gk7k156rd8deeqcahr7kn3h3kgs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036316234831-qab4gk7k156rd8deeqcahr7kn3h3kgs1</string>
	<key>API_KEY</key>
	<string>AIzaSyDUL_sV34f75KJ5i-rkoj7plI4leySv0R8</string>
	<key>GCM_SENDER_ID</key>
	<string>1036316234831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TourMate</string>
	<key>PROJECT_ID</key>
	<string>tourmate-ce567</string>
	<key>STORAGE_BUCKET</key>
	<string>tourmate-ce567.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036316234831:ios:ae753d68a327a4a393463a</string>
</dict>
</plist>