<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546814687385-oc12q8hv0h0fbe5p4688v3epmbc8g0fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546814687385-oc12q8hv0h0fbe5p4688v3epmbc8g0fa</string>
	<key>API_KEY</key>
	<string>AIzaSyAXpeB02Agx_dG15_V4rLu-Xc0b73Ka9KA</string>
	<key>GCM_SENDER_ID</key>
	<string>546814687385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TourMate</string>
	<key>PROJECT_ID</key>
	<string>tourmate-ff2a2</string>
	<key>STORAGE_BUCKET</key>
	<string>tourmate-ff2a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546814687385:ios:6176d7c9a187b88e106008</string>
</dict>
</plist>